<div *ngIf="recipes$ | async as recipes" class="card">
  <div>{{ recipes.length }} Results</div>
  <p-dataView #dv [value]="recipes" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
    <ng-template let-recipe pTemplate="gridItem">
      <div class="col-3 my-2 px-2">
        <p-card class="recipe-tile" [header]="recipe.title">
          <ng-template pTemplate="header">
            <div class="p-3">
              <i class="pi pi-tag"></i>
            </div>
            <img [src]="'assets/recipes/' + recipe.imageUrl" loading="lazy" [alt]="recipe.title" />
          </ng-template>
        </p-card>
      </div>
    </ng-template>
  </p-dataView>
</div>